:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #7a5c58;
  --color-secondary: #7a5c58;
  --color-dark: #008080;
  --color-bg: #ffcad4;

  /* Fonts */
  --font-roboto: "Roboto";
}
